# module 1

In [31]:
a = 'sham'    # This is my name
print(a)

sham

## Python Data Types, Type Casting & Variables

Text Type: str

Numeric Types: int, float

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set

Boolean Type: bool

In [11]:
student1 = ('Rishika', 21, 90.2)    # Cannot modify it
student2 = ['Rishika', 21, 90.2]    # Can modify it
student3 = {'Rishika', 21, 90.2}    # Random Output

In [14]:
print(type(student1))
print(type(student2))
print(type(student3))

<class 'tuple'>
<class 'list'>
<class 'set'>

In [15]:
student = {'Name':'Rishika', 'Age': 21, 'Percent':90.2}
student

{'Name': 'Rishika', 'Age': 21, 'Percent': 90.2}

In [17]:
bool(0)

False

In [16]:
bool(1)

True

##  Python Operators

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Membership operators

In [6]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

x = 5
y = 8

print(x+y, x-y, x*y, x/y, x%y, x**y)

13 -3 40 0.625 5 390625

In [18]:
# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

x, y = 5, 8

#print(x = y, x += y, x -= y, x *= y, x %= y, x /= y, x **= y)

x -= y       # x = x - y
print(x)
x *= y       # x = x * y
print(x)

-3
-24

In [21]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
x, y = 5, 8

print(x > y) 
print(x < y)

False
True

In [24]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

print(x and y, x or y, not y)

print(not((x < y) or (x == y)))
print( (x < y) or (x == y))

8 5 False
False
True

In [30]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

print(y not in x)
print(y  in x)

True
False