# module 2

## List and it's Methods
Lists are used to store multiple items in a single variable.

Lists are used to store multiple items in a single variable.
It is a collection which is ordered, changeable and allows duplicate members.
List Methods

append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [15]:
fruits = ['apple', 'cherrry', 'banana']

In [17]:
fruits.append("orange")
fruits

['apple', 'cherrry', 'banana', 'orange', 'orange']

In [19]:
fruits.sort()
fruits

['apple', 'banana', 'cherrry', 'orange', 'orange']

In [20]:
fruits.reverse()
fruits

['orange', 'orange', 'cherrry', 'banana', 'apple']

In [21]:
fruits.remove("banana")
fruits

['orange', 'orange', 'cherrry', 'apple']

In [22]:
fruits.pop(1)
fruits

['orange', 'cherrry', 'apple']

In [23]:
fruits.insert(1, "watermelon")
fruits

['orange', 'watermelon', 'cherrry', 'apple']

In [25]:
fruits.index("watermelon")

1

In [40]:
others = ['pineapple', 'strawaberry', 'guava','cherry','pineapple']
others

['pineapple', 'strawaberry', 'guava', 'cherry', 'pineapple']

In [41]:
fruits.extend(others)
fruits

['pineapple',
 'strawaberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawaberry',
 'guava',
 'cherry',
 'pineapple']

In [42]:
fruits.count("pineapple")

4

In [43]:
s=fruits.copy()
s

['pineapple',
 'strawaberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawaberry',
 'guava',
 'cherry',
 'pineapple']

In [44]:
fruits.clear()
fruits

[]

## String and it's Methods
All string methods returns new values. They do not change the original string.
String Methods

isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [45]:
txt = "hello, and welcome to our course."
a = txt.capitalize()
print(a)

Hello, and welcome to our course.

In [47]:
txt = "I am from India and born in Maharashtra, India"
b = txt.count("India")
print(b)

2

In [48]:
txt = "I love apples, apple are my favorite fruit"
c = txt.find("banana")
print(c)

-1

In [49]:
d = txt.index("apple")
print(d)

7

In [51]:
txt = "hello, my name is Peter, I am 26 years old"
e = txt.split(', ')
print(e)
type(e)

['hello', 'my name is Peter', 'I am 26 years old']

list

In [56]:
txt = "Company12"
name = txt.isalnum()
print(name)

True

In [53]:
txt = "Company"
alpha = txt.isalpha()
print(alpha)

True

In [57]:
txt = '50800'
num = txt.isdigit()
print(num)

True

In [58]:
names = ["John", "Peter", "Vicky"]
joined = "_".join(names)
print(joined)

John_Peter_Vicky

In [59]:
txt = "I love sports"
result = txt.replace("sports", "cricket")
print(result)

I love cricket

In [62]:
txt = "Hello, welcome to my world."
start = txt.startswith("Hello")
end = txt.endswith(".")

In [63]:
start, end

(True, True)

## Python Conditional Statements
If , elif, else statements

In [66]:
b , a = 33 , 200

print(b>a)

if b > a:
  print("b is greater than a")

False

In [65]:
aman , vinod = 80 , 80

if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")

Both scores equally

In [67]:
if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")
else:
  print('aman scores greater than vinod')

Both scores equally

In [72]:
marks = 28

if marks > 35:
  print("He is Pass")
  if marks > 60:
    print("He is in Distinction")
  else:
    print("He is in Mid Range")
else:
  print('Sadly, He is Fail')

Sadly, He is Fail